@charset "UTF-8";
/* CSS Document */
{
  font-size: 1em;
}

p {
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}

aside {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
