@charset "UTF-8";
/* CSS Document */
{
  font-size: 1em;
}

body {
	background-color: rgba(230,230,250,.25);
}

p {
  font-size: 1em;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
}

a:hover {
    color: #add8e6;
}

nav {
    display: block;
	font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

li {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

h1 {
	font-family: 'Libre Franklin', sans-serif;
	font-family: 'Marcellus SC', serif;
	font-size: 2em;
	font-style: normal;
	font-variant: normal;
	line-height: 1.5;
}

h2 {
  font-family: 'Libre Franklin', sans-serif;
	font-size: 1.5em;
	font-style: normal;
	font-variant: normal;
	line-height: 1.5;
}

h3 {
  font-family: 'Libre Franklin', serif;
	font-size: .80em;
	font-style: italic;
	font-variant: normal;
	line-height: 1;
}

aside {
  font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

  /*Blockquote styling from Max: https://codepen.io/maxds/pen/DcveB*/


blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Bellefair, Georgia, serif;
  font-size: 1em;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid #add8e6;
  border-right: 2px solid #add8e6;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

  /*End blockquote; below is pull quote*/


.pquote {
	font-family: 'Open Sans', sans-serif;
	font-size: .75em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 22.5px;
    float: right;
    width: 300px;
    background: rgb(173, 216, 230, 0.3);
	background: hsl(195°, 53%, 79%)
    font-weight: bold;
    padding: 13px;
    margin: 13px 13px 13px 13px;
}

nav {
	position: relative bottom;
}

nav ul {
	display: inline;
	margin: 0 0;
	padding: 0 0;
}

nav ul li {
	display: inline;
}

nav ul li a {
	display: inline;
	color: #333;
	font-size: 1em;
	line-height: 1.75em;
	white-space: nowrap;
	background-color: rgba(153,153,153,.25);
	margin: .5em .12em;
	padding: .25em .5em;
}

nav ul li a:hover {
	font-size: 1em;
	line-height: 1.75em;
	background-color: #add8e6;
	margin: 0 auto;
	padding: .25em .5em;
}

nav ul li #activepage {
	font-size: 1em;
	line-height: 1.75em;
	background-color: #fff;
	margin: 0 auto;
	padding: .25em .5em;
}
	
