@charset "UTF-8";
/* CSS Document */
{
  font-size: 1em;
}

p {
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 2em;
  font-family: Georgia, serif;
  text-shadow: 4px 4px 5px red;
}

h2 {
  font-size: 1.5em;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

#aside #summary #details {
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
}
