@charset "UTF-8";
/* CSS Document */
{
  font-size: 1em;
}

p ul {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

li {
  font-size: .75em;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

h1 {
  font-family: 'Libre Franklin', sans-serif;
	font-size: 2em;
	font-style: normal;
	font-variant: normal;
	line-height: 2.5;
}

h2 {
  font-family: 'Libre Franklin', sans-serif;
	font-size: 1.5em;
	font-style: normal;
	font-variant: normal;
	line-height: 1.5;
}

aside {
  font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
