@charset "UTF-8";
/* CSS Document */
{
  font-size: 1em;
}

p {
  font-size: 1em;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
}

nav {
    display: block;
	font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

li {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

h1 {
  font-family: 'Libre Franklin', sans-serif;
	font-size: 2em;
	font-style: normal;
	font-variant: normal;
	line-height: 1.5;
}

h2 {
  font-family: 'Libre Franklin', sans-serif;
	font-size: 1.5em;
	font-style: normal;
	font-variant: normal;
	line-height: 1.5;
}

aside {
  font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

.pquote {
    float: right;
    width: 100px;
    background: #ddf;
    font-weight: bold;
    padding: 13px;
    margin: 0 13px 13px 0;
}

nav {
	position: relative bottom;
}

nav ul {
	display: inline;
	margin: 0 0;
	padding: 0 0;
}

nav ul li {
	display: inline;
}
nav ul li a {
	display: inline;
	color: #333;
	font-size: 1em;
	line-height: 1.75em;
	white-space: nowrap;
	background-color: rgba(255,255,255,.25);
	margin: .5em .12em;
	padding: .25em .5em;
}

nav ul li a:hover a:focus;{
	font-size: 1em;
	line-height: 1.75em;
	background-color: #fff;
	margin: 0 auto;
	padding: .25em .5em;
}

nav ul li #activepage {
	font-size: 1em;
	line-height: 1.75em;
	background-color: #fff;
	margin: 0 auto;
	padding: .25em .5em;
}
	
main {
	padding: 5% 5% 50px 5%;
}
