@charset "UTF-8";
/* CSS Document */
{
  font-size: 1em;
}

p {
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 2em;
  font-family: Georgia, serif;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

#aside #summary #details {
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
}
